.mission-name {
  text-align: center;
}

.mission-details {
  text-align: center;
}

.mission-launch {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
}

.mission-launch__success {
  color: #44c844;
}

.mission-site {
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

.mission-site-name {
  text-align: center;
  margin-top: 0px;
}